/* Colors */
/* Layout */
/* Colors */
/* FONTS */
/* FONTS */
/* Colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
  background-color: #ecf2f8;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media screen and (min-width: 1440px) {
  body {
    padding: 11vw 12vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Colors */
/* Layout */
@media screen and (max-width: 1439px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 1439px) {
  .hide-for-desktop {
    display: none;
  }
}

.testamonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: clamp(5.77em, 20vw, 11.81em) clamp(1.73em, 6vw, 4.72em);
}

.testamonials .testamonial {
  border-radius: 10px;
  padding: 7vw 8vw;
  margin-bottom: 8vw;
}

.testamonials .testamonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vw;
}

.testamonials .testamonial__header > .image {
  margin-right: clamp(1.153em, 4vw, 3.15em);
}

.testamonials .testamonial__header > .image img {
  border-radius: 100%;
  width: 9vw;
}

.testamonials .testamonial__header > .identity p:first-child {
  font-size: 3.6vw;
  font-weight: 600;
}

.testamonials .testamonial__header > .identity p:last-child {
  font-size: 3.05vw;
}

.testamonials .testamonial__content p:first-child {
  color: white;
  font-weight: 600;
  font-size: 5.5vw;
  margin-bottom: 5vw;
}

.testamonials .testamonial__content p:last-child {
  font-size: clamp(1.125em, 3.9vw, 1.49em);
}

#daniel {
  position: relative;
  background-color: #7541c8;
  z-index: 0;
}

#daniel .bg-quotation {
  top: 0;
  right: 6vw;
  z-index: 1;
  position: absolute;
}

#daniel .testamonial__header,
#daniel .testamonial__content {
  position: relative;
  z-index: 5;
}

#daniel .testamonial__header img {
  border: 2px solid #eed4f8;
}

#daniel .testamonial__header .identity p:first-child {
  color: #eed4f8;
}

#daniel .testamonial__header .identity p:last-child {
  color: rgba(238, 212, 248, 0.5);
}

#daniel .testamonial__content p:first-child {
  color: #f0d6fa;
}

#daniel .testamonial__content p:last-child {
  color: rgba(238, 212, 248, 0.7);
  line-height: 1.4em;
}

#jonathan {
  position: relative;
  background-color: #49556b;
  z-index: 0;
}

#jonathan .testamonial__header img {
  border: 2px solid #eed4f8;
}

#jonathan .testamonial__header .identity p:first-child {
  color: #e3e9f2;
}

#jonathan .testamonial__header .identity p:last-child {
  color: rgba(227, 233, 242, 0.5);
}

#jonathan .testamonial__content p:first-child {
  color: #faffff;
}

#jonathan .testamonial__content p:last-child {
  color: rgba(250, 255, 255, 0.7);
  line-height: 1.4em;
}

#jeanette {
  position: relative;
  background-color: white;
  z-index: 0;
}

#jeanette .testamonial__header img {
  border: 2px solid white;
}

#jeanette .testamonial__header .identity p:first-child {
  color: #696D70;
}

#jeanette .testamonial__header .identity p:last-child {
  color: rgba(105, 109, 112, 0.5);
}

#jeanette .testamonial__content p:first-child {
  color: #4E5662;
}

#jeanette .testamonial__content p:last-child {
  color: rgba(78, 86, 98, 0.7);
  line-height: 1.4em;
}

#patrick {
  position: relative;
  background-color: #000;
  z-index: 0;
}

#patrick .testamonial__header img {
  border: 2px solid #7541c8;
}

#patrick .testamonial__header .identity p:first-child {
  color: #DDE1EB;
}

#patrick .testamonial__header .identity p:last-child {
  color: rgba(221, 225, 235, 0.5);
}

#patrick .testamonial__content p:first-child {
  color: #E8EFF9;
}

#patrick .testamonial__content p:last-child {
  color: rgba(232, 239, 249, 0.7);
  line-height: 1.4em;
}

#kira {
  position: relative;
  background-color: white;
  z-index: 0;
}

#kira .testamonial__header img {
  border: 2px solid white;
}

#kira .testamonial__header .identity p:first-child {
  color: #696D70;
}

#kira .testamonial__header .identity p:last-child {
  color: rgba(105, 109, 112, 0.5);
}

#kira .testamonial__content p:first-child {
  color: #4E5662;
}

#kira .testamonial__content p:last-child {
  color: rgba(78, 86, 98, 0.7);
  line-height: 1.4em;
}

@media screen and (min-width: 1440px) {
  .testamonials {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 2vw;
            column-gap: 2vw;
    row-gap: 2vw;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "daniel     daniel   jonathan  kira" "jeanette   patrick  patrick   kira";
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding: unset;
  }
  .testamonials .testamonial {
    border-radius: 10px;
    padding: 2vw 2.5vw;
    margin-bottom: unset;
  }
  .testamonials .testamonial__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1vw;
  }
  .testamonials .testamonial__header > .image {
    margin-right: 1.4vw;
  }
  .testamonials .testamonial__header > .image img {
    border-radius: 100%;
    width: 2.1vw;
  }
  .testamonials .testamonial__header > .identity p:first-child {
    font-size: 1vw;
    font-weight: 600;
  }
  .testamonials .testamonial__header > .identity p:last-child {
    font-size: .85vw;
  }
  .testamonials .testamonial__content p:first-child {
    color: white;
    font-weight: 600;
    font-size: 1.3vw;
    /* line-height: 1.7vw; */
    line-height: 1.7vw;
    margin-bottom: 1vw;
  }
  .testamonials .testamonial__content p:last-child {
    font-size: .85vw;
  }
  .testamonials #daniel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: daniel;
  }
  .testamonials #daniel .bg-quotation {
    top: 0;
    right: 6vw;
  }
  .testamonials #daniel .testamonial__header img {
    border: 1px solid #eed4f8;
  }
  .testamonials #daniel .testamonial__header .identity p:first-child {
    color: #eed4f8;
  }
  .testamonials #daniel .testamonial__header .identity p:last-child {
    color: rgba(238, 212, 248, 0.5);
  }
  .testamonials #daniel .testamonial__content p:first-child {
    color: #f0d6fa;
  }
  .testamonials #daniel .testamonial__content p:last-child {
    color: rgba(238, 212, 248, 0.7);
    line-height: 1.4em;
  }
  .testamonials #jonathan {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: jonathan;
    position: relative;
    background-color: #49556b;
    z-index: 0;
  }
  .testamonials #jonathan .testamonial__header img {
    border: 1px solid #eed4f8;
  }
  .testamonials #jonathan .testamonial__header .identity p:first-child {
    color: #e3e9f2;
  }
  .testamonials #jonathan .testamonial__header .identity p:last-child {
    color: rgba(227, 233, 242, 0.5);
  }
  .testamonials #jonathan .testamonial__content p:first-child {
    color: #faffff;
  }
  .testamonials #jonathan .testamonial__content p:last-child {
    color: rgba(250, 255, 255, 0.7);
    line-height: 1.4em;
  }
  .testamonials #jeanette {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: jeanette;
    position: relative;
    background-color: white;
    z-index: 0;
  }
  .testamonials #jeanette .testamonial__header img {
    border: 1px solid white;
  }
  .testamonials #jeanette .testamonial__header .identity p:first-child {
    color: #696D70;
  }
  .testamonials #jeanette .testamonial__header .identity p:last-child {
    color: rgba(105, 109, 112, 0.5);
  }
  .testamonials #jeanette .testamonial__content p:first-child {
    color: #4E5662;
  }
  .testamonials #jeanette .testamonial__content p:last-child {
    color: rgba(78, 86, 98, 0.7);
    line-height: 1.4em;
  }
  .testamonials #patrick {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: patrick;
    position: relative;
    background-color: #000;
    z-index: 0;
  }
  .testamonials #patrick .testamonial__header img {
    border: 1px solid #7541c8;
  }
  .testamonials #patrick .testamonial__header .identity p:first-child {
    color: #DDE1EB;
  }
  .testamonials #patrick .testamonial__header .identity p:last-child {
    color: rgba(221, 225, 235, 0.5);
  }
  .testamonials #patrick .testamonial__content p:first-child {
    color: #E8EFF9;
  }
  .testamonials #patrick .testamonial__content p:last-child {
    color: rgba(232, 239, 249, 0.7);
    line-height: 1.4em;
  }
  .testamonials #kira {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: kira;
    position: relative;
    background-color: white;
    z-index: 0;
  }
  .testamonials #kira .testamonial__header img {
    border: 1px solid white;
  }
  .testamonials #kira .testamonial__header .identity p:first-child {
    color: #696D70;
  }
  .testamonials #kira .testamonial__header .identity p:last-child {
    color: rgba(105, 109, 112, 0.5);
  }
  .testamonials #kira .testamonial__content p:first-child {
    color: #4E5662;
  }
  .testamonials #kira .testamonial__content p:last-child {
    color: rgba(78, 86, 98, 0.7);
    line-height: 1.4em;
  }
}
/*# sourceMappingURL=styles.css.map */